body, html, .body {
    height: 100%;
}
.body{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: slateblue;
    width: 600px;
    height: 45px;
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 12px;
}
.home {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.search {
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 21px;
    flex: 1;
}

button {
    color: white;
    background-color: slateblue;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    padding: 5px 10px;
    border-radius: 6%;
}
input[type="text"]::placeholder {  
    text-align: center; 
} 




/* div {
    font-family: Arial;
  }  
  
  .container {
    border-width: 1px;  
    border-style: solid;
    border-color: rgb(200, 200, 200);
    width: 300px;
    border-radius: 6px;
  }  
  
  .flexbox {
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
  }  
  
  .notifications {
    background-color: rgb(49, 109, 245);  
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
  } */  

  
